/**
 * CB Work Carousel Block Styles
 *
 * @package HubSequoia2025
 */

.cb-work-carousel {
    // height: 100svh;
    // aspect-ratio: 16 / 9;
    width: 100%;
    background-color: var(--col-primary-black);
    position: relative;
    height: 100%;
    &__container {
        width: min(100%, 1920px);
        // width: 100%;
        margin: 0 auto;
        aspect-ratio: 16 / 9;
    }
    .work-swiper, .swiper-slide {
    //   height: 100svh;
    aspect-ratio: 16 / 9;
        width: 100%;
      overflow: hidden;
    }

    .work-carousel-link {
      display: grid;
      grid-template-areas: "stack";
    //   height: 100svh;
        aspect-ratio: 16 / 9;
        width: 100%;

      text-decoration: none;
    }

    .swiper-poster {
        aspect-ratio: 16 / 9;;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        grid-area: stack;
        z-index: 0;
        transition: opacity 0.3s ease;
        pointer-events: none;
    }

    .work-carousel-text {
        grid-area: stack;
        align-self: flex-end;
        color: #fff;
        background: linear-gradient(rgba(13, 13, 12, 0), rgba(13, 13, 12, 0.6) 20%, rgba(13, 13, 12, 0.8));
        z-index: 1;

        padding: 2.5rem 2rem 1rem 2rem;
        @media (min-width: 768px) {
            padding: 4rem 4rem 2rem 3rem;
        }
    }
    .work-carousel-title {
        margin: 0;
        font-weight: 500;
        font-size: var(--fs-600);
        @media (min-width: 768px) {
            font-size: var(--fs-700);
        }
    }
    .work-carousel-excerpt {
        margin: 0;
        margin-top: 0.5rem;
        color: var(--col-neutral-500);
        font-size: var(--fs-500);
        @media (min-width: 768px) {
            font-size: var(--fs-600);
            
        }
    }

    .work-carousel-link.has_video:hover .swiper-poster,
    .work-carousel-link.has_video:focus .swiper-poster {
        opacity: 0;
    }

    .swiper-navigation {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 10;
    }
    .swiper-button-prev,
    .swiper-button-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        color: #fff;
        cursor: pointer;
        pointer-events: auto;
        z-index: 11;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        transition: background 0.2s;
        @media(min-width: 768px) {
            width: 48px;
            height: 48px;
            font-size: 2rem;
        }
    }
    .swiper-button-prev {
        left: 2rem;
        &::after {
            font-size: 1.5rem;
            @media(min-width: 768px) {
                font-size: 2rem;
            }
        }
    }
    .swiper-button-next {
        right: 2rem;
        &::after {
            font-size: 1.5rem;
            @media(min-width: 768px) {
                font-size: 2rem;
            }
        }
    }


    .iframe-cover.swiper-video {
        grid-area: stack;
        position: relative;
        width: 100%;
        // height: 100svh;
        height: 100%;
        aspect-ratio: 16 / 9;
        overflow: hidden;

        iframe {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            transform: translate(-50%, -50%);
            pointer-events: none;
        }
    }

}
