/**
 * CB Culture Page Header Block Styles
 *
 * @package  cb-identity2025
 */
.cb-culture-page-header {
  background-color: var(--col-primary-black);
  color: var(--col-white);
  background-image: var(--_bg-url);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.cb-culture-page-header__top {
  position: relative;
  padding-block: 8rem 6rem;
  isolation: isolate;
}
.cb-culture-page-header__top .intro-overlay {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  inset: 0;
  z-index: -1;
}
.cb-culture-page-header h1 {
  font-size: var(--fs-950);
  font-weight: var(--fw-light);
  line-height: 1;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-top: 1rem;
  padding-bottom: 4rem;
  margin-bottom: 2rem;
}
.cb-culture-page-header__intro-text {
  font-size: var(--fs-700);
  line-height: 1.5;
  text-wrap: balance;
}
.cb-culture-page-header__intro-text p:not(:first-of-type) {
  font-size: var(--fs-500);
}
.cb-culture-page-header__intro-text a {
  color: var(--col-green-400);
  text-decoration: underline;
  transition: color 0.3s ease;
}
.cb-culture-page-header__intro-text a:hover {
  color: var(--col-green-300);
}
.cb-culture-page-header__content-wrapper {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  position: relative;
  padding-block: 4rem 4rem;
  isolation: isolate;
  margin-bottom: 6rem;
}
.cb-culture-page-header__content-wrapper .culture-overlay {
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  inset: 0;
  z-index: -1;
}
.cb-culture-page-header__intro {
  font-size: var(--fs-500);
  line-height: 1.5;
  font-weight: var(--fw-light);
  margin-bottom: 0.5em;
  color: var(--col-white);
  text-wrap: balance;
}
.cb-culture-page-header__intro h2 {
  font-size: var(--fs-800);
}
.cb-culture-page-header__careers {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  position: relative;
  isolation: isolate;
}
.cb-culture-page-header__careers .careers-overlay {
  background-color: rgba(47, 19, 186, 0.5);
  position: absolute;
  inset: 0;
  z-index: -1;
}
.cb-culture-page-header__careers-pretitle {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-block: 0.5rem;
  color: var(--col-green-500);
  font-weight: var(--fw-regular);
  font-size: var(--fs-300);
  line-height: 1;
}
.cb-culture-page-header__careers h2 {
  font-size: var(--fs-850);
  font-weight: var(--fw-light);
}
.cb-culture-page-header__careers .careers-content {
  font-size: var(--fs-500);
  line-height: 1.5;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.cb-culture-page-header__careers .careers-link {
  color: var(--col-white);
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: var(--fs-500);
  font-weight: var(--fw-semi);
}
.cb-culture-page-header__careers .careers-link:hover {
  color: var(--col-green-300);
}

.culture-life {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  color: var(--col-white);
  padding-bottom: 6rem;
}
.culture-life__pretitle {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-block: 0.5rem;
  color: var(--col-purple-300);
  font-weight: var(--fw-regular);
  font-size: var(--fs-300);
  line-height: 1;
}
.culture-life .life-detail-row:first-child {
  padding-top: 1rem;
}
.culture-life .life-detail-row:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.culture-life .life-detail-title {
  padding-block: 0.75rem;
  font-size: var(--fs-700);
  font-weight: var(--fw-light);
}
.culture-life .life-detail-description {
  padding-block: 0.75rem;
  font-size: var(--fs-400);
  font-weight: var(--fw-light);
  text-wrap: balance;
}