/**
 * CB Culture Page Header Block Styles
 *
 * @package  cb-identity2025
 */

.cb-culture-page-header {
    background-color: var(--col-primary-black);
    color: var(--col-white);
    background-image: var(--_bg-url);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    &__top {
        position: relative;
        padding-block: 8rem 6rem;
        isolation: isolate;
        .intro-overlay {
            background-color: rgba(0, 0, 0, 0.2);
            position: absolute;
            inset: 0;
            z-index: -1;
        }
    }
    h1 {
        font-size: var(--fs-950);
        font-weight: var(--fw-light);
        line-height: 1;
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        padding-top: 1rem;
        padding-bottom: 4rem;
        margin-bottom: 2rem;
    }
    &__intro-text {
        font-size: var(--fs-800);
        line-height: 1.5;
        text-wrap: balance;
        a {
            color: var(--col-green-400);
            text-decoration: underline;
            transition: color 0.3s ease;
            &:hover {
                color: var(--col-green-300);
            }
        }
    }
    &__content-wrapper {
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        position: relative;
        padding-block: 4rem 4rem;
        isolation: isolate;
        .culture-overlay {
            background-color: rgba(255, 255, 255, 0.2);
            position: absolute;
            inset: 0;
            z-index: -1;
        }
        margin-bottom: 6rem;
    }
    &__intro {
        font-size: var(--fs-700);
        line-height: 1.5;
        font-weight: var(--fw-light);
        margin-bottom: 0.5em;
        color: var(--col-white);
        text-wrap: balance;
        h2 {
            font-size: var(--fs-800);
        }
    }
    &__careers {
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        position: relative;
        isolation: isolate;
        .careers-overlay {
            background-color: rgba(47, 19, 186, 0.5);
            position: absolute;
            inset: 0;
            z-index: -1;
        }
        &-pretitle {
            border-bottom: 1px solid rgba(255, 255, 255, 0.4);
            padding-block: 0.5rem;
            color: var(--col-green-500);
            font-weight: var(--fw-regular);
            font-size: var(--fs-300);
            line-height: 1;
        }
        h2 {
            font-size: var(--fs-850);
            font-weight: var(--fw-light);
        }
        .careers-content {
            font-size: var(--fs-500);
            line-height: 1.5;
            padding-bottom: 2rem;
            margin-bottom: 2rem;
            border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        }
        .careers-link {
            color: var(--col-white);
            text-decoration: none;
            transition: color 0.3s ease;
            font-size: var(--fs-500);
            font-weight: var(--fw-semi);
            &:hover {
                color: var(--col-green-300);
            }
        }

    }
}
.culture-life {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    &__pretitle {
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        padding-block: 0.5rem;
        color: var(--col-purple-300);
        font-weight: var(--fw-regular);
        font-size: var(--fs-300);
        line-height: 1;
    }

    color: var(--col-white);
    padding-bottom: 6rem;
    .life-detail-row:first-child {
        padding-top: 1rem;
    }
    .life-detail-row:not(:first-child) {
        border-top: 1px solid rgba(255, 255, 255, 0.4);
    }
    .life-detail-title {
        padding-block: 0.75rem;
        font-size: var(--fs-700);
        font-weight: var(--fw-light);
    }
    .life-detail-description {
        padding-block: 0.75rem;
        font-size: var(--fs-400);
        font-weight: var(--fw-light);
    }
}