/**
 * CB Awards Slider Block Styles
 *
 * @package  cb-identity2025
 */

.cb-awards-slider {
    background-color: var(--col-primary-black);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    &__marquee {
        overflow: hidden;
        width: 100%;
    }
    &__track {
        display: flex;
        gap: 1.5rem;
        animation: marquee 10s linear infinite;
        @media (min-width: 768px) {
            animation: marquee 20s linear infinite;
        }
    }
    &__logo {
        height: 120px;
        width: auto;
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }
    }

}