/**
 * CB Pushthrough Block Styles
 *
 * @package  cb-identity2025
 */
.cb-pushthrough {
  background-color: var(--col-primary-black);
  color: var(--col-white);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  position: relative;
  isolation: isolate;
}
.cb-pushthrough.has-bg {
  background-image: var(--_bg-url);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-block-end: 4rem;
}
.cb-pushthrough__pretitle {
  font-size: var(--fs-200);
  font-weight: var(--fw-regular);
  text-transform: uppercase;
  color: var(--col-green-400);
  margin-top: 1rem;
  padding-block: 1rem 0.75rem;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.cb-pushthrough h2 {
  font-size: var(--fs-850);
  font-weight: var(--fw-light);
}
.cb-pushthrough__left-content {
  font-size: var(--fs-700);
  line-height: 1.5;
}
.cb-pushthrough__desc {
  font-size: var(--fs-500);
  line-height: 1.5;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.cb-pushthrough__desc.larger-left {
  font-size: var(--fs-600);
  border-bottom: none;
}
.cb-pushthrough__desc.larger-left a {
  text-decoration: none;
  color: var(--col-green-400);
  font-weight: var(--fw-regular);
  transform: color 0.3s ease;
}
.cb-pushthrough__desc.larger-left a:hover {
  color: var(--col-green-300);
}
.cb-pushthrough__link {
  text-decoration: none;
  font-weight: var(--fw-semi);
  font-size: var(--fs-500);
  display: inline-block;
  margin-bottom: 0.5rem;
  color: var(--col-green-400);
  margin-top: 0.5rem;
  transition: color 0.3s ease;
}
.cb-pushthrough__link:hover {
  color: var(--col-green-300);
}
.cb-pushthrough .overlay {
  background-color: rgba(47, 19, 186, 0.8);
  position: absolute;
  inset: 0;
  z-index: -1;
}
.cb-pushthrough .overlay--white {
  background-color: rgba(255, 255, 255, 0.2);
}