/**
 * CB CTA Block Styles
 *
 * @package  cb-identity2025
 */

.cb-cta {
    position: relative;
    background-color: var(--col-primary-black);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    isolation: isolate;
    overflow: hidden;
    color: white;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        background: var(--_bg-url) center / cover no-repeat fixed;
    }

    &__title {
        font-size: var(--fs-850);
        font-weight: var(--fw-regular);
        line-height: 1.1;
    }
    &__content {
        font-size: var(--fs-600);
        font-weight: var(--fw-light);
    }

    &__image {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }
    
    &__clip-group {
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        overflow: hidden;
    }
    &__clip-group--A {
        aspect-ratio: 16 / 10;
        mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 920.33 582.19'%3E%3Cpolygon points='493.21 204.65 877.27 164.98 860.23 0 0 88.85 17.04 253.83 50.48 250.38 43.38 315.33 903.06 409.29 920.33 251.33 493.21 204.65'/%3E%3Crect x='380.2' y='44.09' width='158.9' height='864.8' transform='translate(-44.01 906.19) rotate(-86.5)'/%3E%3C/svg%3E");
    }
    &__clip-group--B {
        aspect-ratio: 1.12 / 1;
        mask-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20id%3D%22Layer_2%22%20data-name%3D%22Layer%202%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20934.88%20833.43%22%3E%0A%20%20%3Cpolygon%20points%3D%22867.6%2068.41%20866.2%200%200%20101.74%202.83%20247.49%205.8%20291.15%20927.65%20277.97%20934.88%20206.42%20867.6%2068.41%22/%3E%0A%20%20%3Crect%20x%3D%22412.86%22%20y%3D%2228.47%22%20width%3D%22152.85%22%20height%3D%22876.49%22%20transform%3D%22translate(-39.92%20915.79)%20rotate(-86.65)%22/%3E%0A%3C/svg%3E%0A');
    }
    &__clip-group--C {
        aspect-ratio: 1.1 / 1;
        mask-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20id%3D%22Layer_2%22%20data-name%3D%22Layer%202%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20398.65%20362.53%22%3E%0A%20%20%3Cdefs%3E%0A%20%20%20%20%3Cstyle%3E%0A%20%20%20%20%20%20.cls-1%20%7B%0A%20%20%20%20%20%20%20%20fill%3A%20%230d0d0c%3B%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%3C/style%3E%0A%20%20%3C/defs%3E%0A%20%20%3Cg%20id%3D%22Layer_1-2%22%20data-name%3D%22Layer%201%22%3E%0A%20%20%20%20%3Cpolygon%20class%3D%22cls-1%22%20points%3D%22200.92%20142.28%2064.22%20131.55%20199.33%20131.55%20397.67%20131.55%20397.67%2091.92%20199.33%2091.92%2088.96%2091.92%20201.4%2080.07%20324.74%2067.07%20395.28%2073.07%20396.43%2059.52%20398.65%2059.29%20397.44%2047.71%20398.64%2033.58%20395.92%2033.35%20394.5%2019.88%20324.33%2027.27%20201%2016.79%203.37%200%20.02%2039.49%20115.38%2049.29%200%2061.45%203.21%2091.92%20.98%2091.92%20.98%20131.55%202.81%20131.55%20.08%20166.26%20197.82%20181.78%20242.36%20185.28%20198.74%20186.56%2087.99%20189.82%207.53%20175.49%204.54%20192.28%20.49%20192.4%201.06%20211.83%20.58%20214.51%201.14%20214.61%201.65%20232.01%2085.07%20229.55%20195.85%20249.28%20205.45%20250.99%20199.33%20250.99%20.98%20250.99%20.98%20290.62%20170.63%20290.62%20.11%20303.14%201.56%20322.9%20.98%20322.9%20.98%20362.53%20199.33%20362.53%20397.67%20362.53%20397.67%20322.9%20272.09%20322.9%20398.63%20313.62%20396.94%20290.62%20397.67%20290.62%20397.67%20250.99%20397.01%20250.99%20398.07%20245.04%20279.04%20223.84%20398.17%20220.34%20397%20180.72%20396.85%20180.73%20398.65%20157.79%20200.92%20142.28%22/%3E%0A%20%20%3C/g%3E%0A%3C/svg%3E')
    }
}