@import "typography";
@import "colours";
@import "buttons";
@import "header";
@import "footer";
@import "news";
@import "text-page";

body {
  background-color: var(--col-primary-black);
}

@media (min-width: 992px) {
  .cols-lg-2 {
    columns: 2;
  }
  .cols-lg-3 {
    columns: 3;
  }
}

.sticky {
  position: sticky;
  top: 0; // var(--h-top);
  @media (min-width: 992px) {
    top: 0; //var(--h-top-desktop);
  }
  // background-color: var(--col-neutral-50);
  z-index: 1000;
}

// Adjust fixed header when admin bar is present
.admin-bar header.fixed-top {
  top: 32px; // Admin bar height
}

#breadcrumbs {
  font-size: var(--text-sm);
  a {
    text-decoration: none;
    font-weight: var(--fw-600);
    color: var(--col-neutral-900);
  }
}

.anchor {
  display: block;
  position: relative;
  top: -57px; // Height of fixed header
  visibility: hidden;
}

.wp-block-group {
  &:not(.alignfull) {
    @extend .container;
    & .container {
      padding-inline: 0;
    }
  }
}
.container .container {
  padding-inline: 0;
}

.id-container {
  width: min(100%, 1920px);
  margin: 0 auto;
}

// main {
//   margin-top: var(--h-top);
// }

.ratio-9x16 {
  --bs-aspect-ratio: calc(16 / 9 * 100%); /* = 177.77% */
}


.service-parents {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
  min-width: 50%;
  li {
    font-size: var(--fs-body);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    display: inline-block;
    width: 100%;
    a {
      text-decoration: none;
      color: var(--col-green-500);

      &:hover {
        text-decoration: none;
      }
    }
  }
  li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
}

/* Bootstrap-style order utilities (replicate for each breakpoint) */

/* base */
.order-first { order: -1 !important; }
.order-last { order: 13 !important; }
.order-0 { order: 0 !important; }
.order-1 { order: 1 !important; }
.order-2 { order: 2 !important; }
.order-3 { order: 3 !important; }
.order-4 { order: 4 !important; }
.order-5 { order: 5 !important; }
.order-6 { order: 6 !important; }
.order-7 { order: 7 !important; }
.order-8 { order: 8 !important; }
.order-9 { order: 9 !important; }
.order-10 { order: 10 !important; }
.order-11 { order: 11 !important; }
.order-12 { order: 12 !important; }

/* sm */
@media (min-width: 576px) {
  .order-sm-first { order: -1 !important; }
  .order-sm-last { order: 13 !important; }
  .order-sm-0 { order: 0 !important; }
  .order-sm-1 { order: 1 !important; }
  .order-sm-2 { order: 2 !important; }
  .order-sm-3 { order: 3 !important; }
  .order-sm-4 { order: 4 !important; }
  .order-sm-5 { order: 5 !important; }
  .order-sm-6 { order: 6 !important; }
  .order-sm-7 { order: 7 !important; }
  .order-sm-8 { order: 8 !important; }
  .order-sm-9 { order: 9 !important; }
  .order-sm-10 { order: 10 !important; }
  .order-sm-11 { order: 11 !important; }
  .order-sm-12 { order: 12 !important; }
}

/* md */
@media (min-width: 768px) {
  .order-md-first { order: -1 !important; }
  .order-md-last { order: 13 !important; }
  .order-md-0 { order: 0 !important; }
  .order-md-1 { order: 1 !important; }
  .order-md-2 { order: 2 !important; }
  .order-md-3 { order: 3 !important; }
  .order-md-4 { order: 4 !important; }
  .order-md-5 { order: 5 !important; }
  .order-md-6 { order: 6 !important; }
  .order-md-7 { order: 7 !important; }
  .order-md-8 { order: 8 !important; }
  .order-md-9 { order: 9 !important; }
  .order-md-10 { order: 10 !important; }
  .order-md-11 { order: 11 !important; }
  .order-md-12 { order: 12 !important; }
}

/* lg */
@media (min-width: 992px) {
  .order-lg-first { order: -1 !important; }
  .order-lg-last { order: 13 !important; }
  .order-lg-0 { order: 0 !important; }
  .order-lg-1 { order: 1 !important; }
  .order-lg-2 { order: 2 !important; }
  .order-lg-3 { order: 3 !important; }
  .order-lg-4 { order: 4 !important; }
  .order-lg-5 { order: 5 !important; }
  .order-lg-6 { order: 6 !important; }
  .order-lg-7 { order: 7 !important; }
  .order-lg-8 { order: 8 !important; }
  .order-lg-9 { order: 9 !important; }
  .order-lg-10 { order: 10 !important; }
  .order-lg-11 { order: 11 !important; }
  .order-lg-12 { order: 12 !important; }
}

/* xl */
@media (min-width: 1200px) {
  .order-xl-first { order: -1 !important; }
  .order-xl-last { order: 13 !important; }
  .order-xl-0 { order: 0 !important; }
  .order-xl-1 { order: 1 !important; }
  .order-xl-2 { order: 2 !important; }
  .order-xl-3 { order: 3 !important; }
  .order-xl-4 { order: 4 !important; }
  .order-xl-5 { order: 5 !important; }
  .order-xl-6 { order: 6 !important; }
  .order-xl-7 { order: 7 !important; }
  .order-xl-8 { order: 8 !important; }
  .order-xl-9 { order: 9 !important; }
  .order-xl-10 { order: 10 !important; }
  .order-xl-11 { order: 11 !important; }
  .order-xl-12 { order: 12 !important; }
}

/* xxl */
@media (min-width: 1400px) {
  .order-xxl-first { order: -1 !important; }
  .order-xxl-last { order: 13 !important; }
  .order-xxl-0 { order: 0 !important; }
  .order-xxl-1 { order: 1 !important; }
  .order-xxl-2 { order: 2 !important; }
  .order-xxl-3 { order: 3 !important; }
  .order-xxl-4 { order: 4 !important; }
  .order-xxl-5 { order: 5 !important; }
  .order-xxl-6 { order: 6 !important; }
  .order-xxl-7 { order: 7 !important; }
  .order-xxl-8 { order: 8 !important; }
  .order-xxl-9 { order: 9 !important; }
  .order-xxl-10 { order: 10 !important; }
  .order-xxl-11 { order: 11 !important; }
  .order-xxl-12 { order: 12 !important; }
}

// show stuff that overflows horizontally
// * {
//     outline: 1px solid #f00 !important;
// }
// show stuff that overflows horizontally via console JS
/*
var all = document.getElementsByTagName("*"), i = 0, rect, docWidth = document.documentElement.offsetWidth;
for (; i < all.length; i++) {
    rect = all[i].getBoundingClientRect();
    if (rect.right > docWidth || rect.left < 0){
        console.log(all[i]);
        all[i].style.borderTop = '1px solid red';
    }
}
*/

// @mixin fluid-type($min-vw, $max-vw, $min-value, $max-value) {
// 	$factor: 1 / ($max-vw - $min-vw) * ($max-value - $min-value);
// 	$calc-value: unquote('#{ $min-value - ($min-vw * $factor) } + #{ 100vw * $factor }');

// 	font-size: $min-value; // Fallback for older browsers
// 	font-size: clamp(#{if($min-value > $max-value, $max-value, $min-value)}, #{$calc-value}, #{if($min-value > $max-value, $min-value, $max-value)});
// }

