.text-page {
    background-color: var(--col-primary-black);
    color: var(--col-white);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);

    .post-title {
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        padding-block: 1rem;
        h1 {
            font-size: var(--fs-850);
            font-weight: var(--fw-light);
        }
    }
}