/**
 * CB Policies Page Block Styles
 *
 * @package  cb-identity2025
 */

.cb-policies-page {
    color: var(--col-white);
    &__title {
        margin-block: 6rem 4rem;
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        font-size: var(--fs-900);
        font-weight: var(--fw-semi);
    }
    &__content {
        font-size: var(--fs-600);
        line-height: 1.5;
        padding-bottom: 6rem;
        > p:first-child {
            font-size: var(--fs-800);
        }
    }
    &__secondary {
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        font-size: var(--fs-700);
        position: relative;
        margin-bottom: 4rem;
        background-image: var(--_bg-url);
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        isolation: isolate;
        @supports (-webkit-touch-callout: none) {
            /* iOS-specific styles */
            background-attachment: scroll;
        }
    }
    .id-container {
        display: grid;
    }
    .row {
        grid-area: 1 / 1;
    }
    .overlay {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: rgba(13, 13, 12, 0.75);
    }

    &__pretitle {
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        margin-bottom: 1rem;
        color: var(--col-green-400);
        font-size: var(--fs-300);
        font-weight: var(--fw-regular);
        text-transform: uppercase;
    }

    &__list {
        padding-bottom: 6rem;
    }

    &__item {
        text-decoration: none;
        font-size: var(--fs-700);
        padding-block: 0.75rem .5rem;
        transition: background-color 0.3s ease;
        &:hover {
            color: var(--col-white);
            background-color: var(--col-neutral-1100);
        }
    }
    &__item:not(:last-child) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }

}