/**
 * CB Policies Page Block Styles
 *
 * @package  cb-identity2025
 */
.cb-policies-page {
  color: var(--col-white);
}
.cb-policies-page__title {
  margin-block: 6rem 4rem;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  font-size: var(--fs-900);
  font-weight: var(--fw-semi);
}
.cb-policies-page__content {
  font-size: var(--fs-600);
  line-height: 1.5;
  padding-bottom: 6rem;
}
.cb-policies-page__content > p:first-child {
  font-size: var(--fs-800);
}
.cb-policies-page__secondary {
  background-image: var(--_bg-url);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: var(--fs-700);
  position: relative;
}
.cb-policies-page .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(13, 13, 12, 0.75);
}