/**
 * CB Policies Page Block Styles
 *
 * @package  cb-identity2025
 */

.cb-policies-page {
    color: var(--col-white);
    &__title {
        margin-block: 6rem 4rem;
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        font-size: var(--fs-900);
        font-weight: var(--fw-semi);
    }
    &__content {
        font-size: var(--fs-600);
        line-height: 1.5;
        padding-bottom: 6rem;
        > p:first-child {
            font-size: var(--fs-800);
        }
    }
    &__secondary {
        background-image: var(--_bg-url);
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-size: var(--fs-700);
        position: relative;
    }
    .overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(13, 13, 12, 0.75);
    }

}