/**
 * CB Careers Page Block Styles
 *
 * @package  cb-identity2025
 */

.cb-careers-page {
    background-image: var(--_bg-url);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    .id-container {
        position: relative;
        overflow: hidden;
        display: grid;
        color: var(--col-white);
    }
    &__background {
        grid-area: 1 / 1;
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
    }
    .overlay {
        position: absolute;
        inset: 0;
        background-color: rgba(13, 13, 12, 0.75);
    }
    &__inner {
        grid-area: 1 / 1;
    }
    &__title {
        margin-block: 6rem 4rem;
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        font-size: var(--fs-900);
        font-weight: var(--fw-semi);
    }
    &__content {
        font-size: var(--fs-800);
        line-height: 1.5;
        padding-bottom: 6rem;
    }
}