/**
 * CB Full Image Block Styles
 *
 * @package  cb-identity2025
 */

.cb-full-image {
    background-color: var(--col-primary-black);
    img {
        width: 100%;
        aspect-ratio: 16 / 9;
    }
}