/**
 * CB Logo Slider Block Styles
 *
 * @package  cb-identity2025
 */
.cb-logo-slider {
  background-color: var(--col-primary-black);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.cb-logo-slider__marquee {
  overflow: hidden;
  width: 100%;
}
.cb-logo-slider__track .swiper-wrapper {
  display: flex;
}
.cb-logo-slider__logo {
  filter: invert(1);
  height: 120px;
  width: auto;
  flex: 0 0 auto;
}

.swiper-slide {
  flex: 0 0 auto;
  width: auto;
}