/**
 * CB FAQ Block Styles
 *
 * @package  cb-identity2025
 */
.cb-faq {
  background-color: var(--col-primary-black);
  color: var(--col-white);
  padding-bottom: 6rem;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.cb-faq__item {
  padding-bottom: 3rem;
}
.cb-faq__item:first-child {
  padding-top: 1rem;
}
.cb-faq__item:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  padding-top: 2rem;
}
.cb-faq__question {
  font-size: var(--fs-700);
  font-weight: var(--fw-light);
  line-height: 1.2;
  margin: 0;
  padding-block: 0.75rem;
}
.cb-faq__answer {
  font-size: var(--fs-400);
  font-weight: var(--fw-light);
  padding-block: 0.75rem;
}
.cb-faq__answer p {
  margin-bottom: 0.75em;
}
.cb-faq__answer p:last-child {
  margin-bottom: 0;
}
.cb-faq__answer a {
  color: var(--col-purple-300);
  text-decoration: underline;
}