/**
 * CB Innovation Header Block Styles
 *
 * @package  cb-identity2025
 */

.cb-innovation-header {
    background-color: var(--col-primary-black);
    color: var(--col-white);
    background-image: var(--_bg-url);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    @supports (-webkit-touch-callout: none) {
        /* iOS-specific styles */
        background-attachment: scroll;
    }
    &__top {
        position: relative;
        padding-block: 8rem 6rem;
        isolation: isolate;
        .intro-overlay {
            background-color: rgba(0, 0, 0, 0.6);
            position: absolute;
            inset: 0;
            z-index: -1;
        }
    }
    h1 {
        font-size: var(--fs-850);
        font-weight: var(--fw-semi);
        line-height: 1;
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        padding-top: 0.25rem;
        margin-bottom: 2rem;
    }
    &__intro-text {
        font-size: var(--fs-700);
        line-height: 1.5;
        text-wrap: balance;
        p:not(:first-of-type) {
            font-size: var(--fs-500);
        }
    }
    &__quote-wrapper {
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        position: relative;
        padding-block: 4rem 4rem;
        isolation: isolate;
        .quote-overlay {
            background-color: rgba(0, 0, 0, 0.8);
            position: absolute;
            inset: 0;
            z-index: -1;
        }
    }
    &__quote {
        font-size: var(--fs-900);
        font-weight: var(--fw-light);
        margin-bottom: 0.5em;
        color: var(--col-purple-400);
    }
    &__author {
        display: inline-block;
        padding: 0.5em 0.5em 0.25em 0.5em;
        line-height: 1;
        margin-bottom: 0.5rem;
        text-transform: uppercase;
        font-size: var(--fs-800);
        font-weight: var(--fw-regular);
        background-color: var(--col-purple-500);
        color: var(--col-primary-black);
    }
    &__company {
        display: inline-block;
        padding: 0.5em 0.5em 0.25em 0.5em;
        line-height: 1;
        font-size: var(--fs-800);
        font-weight: var(--fw-regular);
        background-color: var(--col-purple-900);
        color: var(--col-white);
    }

}